<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/accueil.css">
    <title>Troc App</title>

</head>
<body>
    <%- include("../layouts/header.ejs") %>
    <main>
        <!-- Contenu principal de la page -->
        <h1>Bienvenue sur l'Application de Troc</h1>
        <p>Ce site vous permet de proposer et de demander des trocs en toute simplicité.</p>
    </main>
        <button onclick="genererFichiers()">Générer les fichiers</button>

    <script>
    function genererFichiers() {
        fetch('/generer-fichiers')
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Erreur:', error));
    }
    </script>

    <%- include("../layouts/footer.ejs") %>
</body>
</html>