<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../layouts/header.ejs') %>
    <form action="/submit" method="post">
        <!-- Checksum -->
        <label for="checksum">Checksum:</label>
        <input type="text" id="checksum" name="checksum" required>
        <br><br>

        <!-- ID Destinataire -->
        <label for="idDestinataire">ID Destinataire:</label>
        <input type="text" id="idDestinataire" name="idDestinataire" pattern="^g\d\.\d+$" required>
        <br><br>

        <!-- Date Fichier -->
        <label for="dateFichier">Date du fichier (jj-mm-aaaa):</label>
        <input type="text" id="dateFichier" name="dateFichier" pattern="^\d{2}-\d{2}-\d{4}$" required>
        <br><br>

        <!-- Messages -->
        <fieldset>
            <legend>Messages</legend>

            <!-- Date du Message -->
            <label for="dateMessage">Date du message (jj-mm-aaaa):</label>
            <input type="text" id="dateMessage" name="dateMessage" pattern="^\d{2}-\d{2}-\d{4}$" required>
            <br><br>

            <!-- Statut -->
            <input type="hidden" id="statut" name="statut" value="propose" required>
            <br>

            <!-- Liste d'Objets -->
            <fieldset id="listeObjets">
                <legend>Liste des objets</legend>

                <!-- Objet 1 -->
                <div class="objet">
                    <label for="titre1">Titre de l'objet:</label>
                    <input type="text" name="messages[0][listeObjet][0][titre]" required>
                    <br><br>

                    <label for="description1">Description de l'objet:</label>
                    <textarea name="messages[0][listeObjet][0][description]"></textarea>
                    <br><br>

                    <label for="qualite1">Qualité (0-5):</label>
                    <input type="number" name="messages[0][listeObjet][0][qualite]" min="0" max="5" required>
                    <br><br>

                    <label for="quantite1">Quantité:</label>
                    <input type="number" name="messages[0][listeObjet][0][quantite]" min="1" required>
                    <br><br>
                </div>

            </fieldset>

            <button type="button" id="ajouterObjet">Ajouter un objet</button>
        </fieldset>
        
        <br><br>
        <button type="submit">Envoyer</button>
    </form>
    <%- include("../layouts/footer.ejs") %>

    <script src="/scripts/proposer.js"></script>
</body>
</html>
