<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Troc App</title>
    
</head>

<body>
    <div class="content">

    </div>
    <footer>
        <p>&copy; 2024 Troc App. Tous droits réservés.</p>
        <p>Contactez-nous à <a href="mailto:groupe3@trocapp.com">groupe3@trocapp.com</a></p>
    </footer>
</body>

</html>
