<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Troc App</title>
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/demandes">Liste demandes</a></li>
            <li><a href="/propositions">Liste propositions</a></li>
            <li><a href="/autorisation">Demander Autorisation</a></li>
            <li><a href="/submit">Proposer Troc</a></li>
        </ul>
    </nav>
    
</body>
</html>